/* que 1 */
.container {
    margin: 0;
    padding: 0;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    grid-gap: 10px;
}

.container div {
    background-color: aquamarine;
    font-size: 1.5rem;
}

.header {
    grid-column: 1/ span 12;
}

.sidebar {
    grid-column: 1/ span 3;
    grid-row: 2/ span 10;
}

.navigation {
    grid-column: 4/ span 6;
  
}

.ads {
    grid-row: 2/ span 10;
    grid-column: 10/ span 3;
}

.main {
    grid-row: 3/ span 9;
    grid-column: 4/ span 6;
}

.footer {
    grid-column: 1/ span 12;
}


/* que 2 */

.container1{
   margin: 0;
   padding: 0;
   height: 100vh;
   grid-gap: 10px;
   display: grid;
   grid-template-columns: repeat(12,1fr);
   grid-template-rows: repeat(12, 1fr);

  
}



.container1 div {
    background-color: rgb(189, 127, 255);
    font-size: 1.5rem;
}  

@media (max-width:720px) {
.header1 {
    grid-column: 1 / span 12;
    
}

.navigation1 {
    grid-column: 1 / span 12;
    grid-row: 2;
}

.sidebar1 {
    grid-row: 3 / span  9;
    grid-column: 1 / span 3;
}

.main1{
     grid-column: 4 / span 9 ;
     grid-row: 3 / span 9;
}

.ads1 {
    grid-column: 1 / span 3;
    grid-row: 12;
}

.footer1 {
    grid-column: 4 / span 9;
    grid-row: 12;
}
}

/* que 3 */

.loader {
    background-color: white;
    
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 17px solid gray ;
    border-top: 17px solid gold;
    animation: color 2s linear infinite;
   
}

@keyframes color {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform : rotate(360deg);
    }
}