/* external styles */

h1 { 
    font-size: 32px; 
    font-weight: bold; 
    text-align: center; 
}

h2, h3 { 
    font-size: 24px; 
}

.info {
     font-weight: bold;
       list-style-type: square;
}

.info a{
    text-decoration: none;
    color: #1a73e8;
    font-weight: 100;
      list-style-type: square;
    
}



.info a:hover{
    text-decoration: underline;
    color: #ff6347;
}

ul{
    list-style-type: square;
    padding-left: 20px;
}
section#about-me {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

section.skills {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

section.hobbies {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

section.contact ul{
    list-style-type: square;
}

section.contact {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    
}

