.container {
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;

    
    flex-direction: column-reverse;
    /* flex-direction:row;
    justify-content: space-around; */
    /* flex-direction: row; */
    justify-content: center;
    flex-wrap: wrap; 
    /* align-items: flex-start;

    
    
    }


#org{
        /* align-self: flex-end; */
        /* flex-basis: 400px; */
        /* flex-grow: 1; */
        flex-shrink: 1;
    }

h1{
    text-align: center;
}

.container div {
    height: 50px;
    width: 300px;
    color: white;
    text-align: center;
    font-size:1.5em ;
}