h1{
    color: pink;
}

#greet{
    color: rgb(4, 255, 0);
}

.myClass{
    color: yellowgreen;
}

/* que 2 */
  /* div p {
    background-color: blue;
  } 

 .para {
    background-color: blueviolet;
}

   p {
    background-color: brown;
  } */

  /* que 3 */

  div.greetDiv .mauu{
    color: aquamarine;
  }

  .greetDiv p.mauu{
    color: steelblue;
  }

  .greetDiv .mauu{
    color: red;
  }