/* percentage(%)  */

/* h1{
    background-color: cadetblue;
    width: 33%;
}

#outer{
    height: 600px;
    width: 600px;
    background-color: blue;
    margin: 50px;
}

#inner{
    height: 400px;
    width: 400px;
    background-color:lightblue;
    margin-l: 20%;
} */

/* em */

#outer{
    height: 400px;
    width: 400px;
    border: 2px solid green;
    background-color: brown;
    font: 20px;
}

#inner{
    height: 100px;
    width: 100px;
    background-color: pink;
    font-size: 2em;
}